.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #61dafb20;
  min-height: 100vh;
  width: 100%;
  padding: 3%;
  font-size: 18px;
}

.btn {
  padding: 15px 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: none;
  background: #61dafb;
  color: #282c34;
}
.btn:hover {
  cursor: pointer;
  background: #61dafba5;
}
.img-anime{
  width: 90%;
  margin-bottom: 20px;
}